name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: erlef/setup-beam@v1
        with:
          elixir-version: "1.17"
          otp-version: "27"

      - run: mix deps.get
      - run: mix escript.build

      - uses: softprops/action-gh-release@v2
        with:
          files: doer
          generate_release_notes: true
